/*  #424551; */
/* #1E212C */
/* color: #FF3F3A; */
:root {
    --main-font: "Lato", sans-serif;
    --primary-text-color: #424551;
    --title-text-color: #1e212c;
    --secondary-text-color: #787a80;
    --primary-red-color:#FF3F3A;
    --primary-white-color:#FFFFFF;
    --third-text-color:#9A9CA5;
  }